<noscript>
    <style>
        body {
            opacity: 1;
        }

        magnon-shell {
            display: none;
        }

        span {
            color: #101010;
            font-family: sans-serif;
            display: block;
            width: 40vw;
            margin: 10vh;
        }

        #ns-title {
            font-size: 50px;
        }

        a {
            color: #235A8C !important;
        }
    </style>

    <span id="ns-title">Oh no!</span>
    <span>
        JavaScript doesn't seem to be enabled on your browser.
        You may want to have a look at
        <a href="http://www.enable-javascript.com/" target="_blank">
        instructions on how to enable JavaScript in your web browser</a>.
    </span>
</noscript>
