html {
    --magnon-highlight-color: var(--magnon-dark-teal) !important;
}

.post-grid {
    display: flex;
    flex-wrap: wrap;
}

.post-grid > article {
    flex: 1 1 500px;
    display: flex;
}

.post-grid > article:first-of-type {
    flex: 1 1 100%;
}

.post-grid > article > magnon-card {
    flex-grow: 1;
}

@media (min-width: 580px) {
    .post-grid > article {
        margin: 0 30px;
    }
}

/* FRONT PAGE */

.home.page-header {
    background-color: transparent;
    --magnon-social-icon-button-color: initial;
}

.home .header-container {
    color: var(--magnon-black);
}

.author-profile-image {
    box-shadow: var(--magnon-shadow-1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 15px;
}

.post-card-author a {
    color: var(--magnon-black);
    text-decoration: none;
}

.post-card-author a:hover {
    text-decoration: underline;
}

.footer a {
    color: white !important;
}

/* POST PAGE */

article.post, .post-section {
    max-width: 1000px;
    margin: auto;
}

article.post img {
    position: relative;
    left: -30px;
    width: calc(100% + 60px);
    height: auto;
    margin: 30px 0;
}

article.post h2, article.post h3, article.post h4, article.post h5, article.post h6 {
    margin-top: 50px;
    margin-bottom: 50px;
}

#disqus_thread {
    padding: 30px;
}

/* AUTHOR/TAG PAGE */

.page-header {
    position: relative;
    width: 100vw;
    min-height: 300px;
    top: -20px;
    left: calc((100vw - 100%) * -0.5);
    background-color: var(--magnon-black);
    background-size: cover;
    background-position: center;
    --magnon-social-icon-button-color: white;
}

.flex-center {
    width: 100%;
    height: 100%;
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container {
    width: 40vw;
    max-width: 800px;
    min-width: 300px;
    margin: 20px 0;
    text-align: center;
    color: white;
}

.page-header .author-profile-image {
    width: 100px;
    height: 100px;
    margin: 0;
}

.page-header h2 {
    font-size: 15px;
    margin-bottom: 20px;
}

.page-header .meta-text {
    display: inline-block;
    margin-right: 30px;
}

.post-meta-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% + 60px);
    max-width: 1060px;
    margin: 0 -30px;
}

.post-meta-info > * {
    flex: 1 1 300px;
    margin: 0 30px;
    display: flex;
}

.post-meta-info > * > magnon-card {
    flex-grow: 1;
}

.post-meta-info .author-meta .author-profile-image {
    width: 75px;
    height: 75px;
}

.post-meta-info h4 {
    display: inline-block;
    font-size: 25px;
}

.tag-more-links ul {
    list-style-type: none;
    padding: 0;
}

.tag-more-links li {
    padding: 10px 0;
}
